*{  font-family: Georgia, Times, Times New Roman, serif;}


.top{ background-color:#d73d6c;
    color:#d6c2bc;
    font-family: Georgia, Times, Times New Roman, serif;
}

.tmid {
  background-color:#d6c2bc;
  color: white;
}

.column {
  float: left;
  width: 10%;
  margin-left: 12%;
  border-radius: 30px;
  padding: 3px;

}

.row::after {
  content: "";
  clear: both;
  display: table;
margin-left: 5%;
}

.form { background-color:#d8e2dc;
}

.last {
  background-color: #f4acb7;
}
